.cardsWrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.companyCard {
	margin-left: 15px;
	margin-bottom: 15px;
}
.searchContainer {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}
.searchOne,
.searchTwo {
	width: 400px;
	margin-left: 15px;
}
.inputRight {
	width: 100%;
}
